* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    font-family: "Roboto", sans-serif;
}

main { 
    background-image: url("assets/um-fundo-roxo-e-azul-com-um-fundo-roxo.avif");
    background-repeat: no-repeat;
}