* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

main { 
    display: flex;
    background-image: url("assets/um-fundo-roxo-e-azul-com-um-fundo-roxo.avif") no-repeat center center;
    background-size: cover; 
    position: relative;
    height: 100vh;
    z-index: 0;
    padding: 40px 120px;
 
    &::after{
        content: "";
    }
}

.container-left h1{
    width: 80%;
text-align: left;
font-size: 60px;

}

.container-left p {
    width: 80%;
}

.container-right {
   display: flex;
   background-color: blueviolet;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0 60px;
   border-radius: 20px;
   width: 50%;
}

.teste-gratis {
    display: flex;
    justify-content:center;
    align-items: center;
   width: 80%;
    background-color: rgb(0, 0, 0);
    color: azure;
    text-decoration: none;
    border-radius: 20px;
}

.forms {
    display: flex;
    justify-content: center;
}

.forms form{
    gap: 10px;
}

.forms button{
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: blueviolet;
    color: blanchedalmond;
    width: 40%;
    align-self: center;
    border: 0.5px solid rgb(123, 15, 153);
    font-weight: 600;

    &:active {
        transform: scale(0.9);
        background-color: rgb(67, 8, 66);
    }

} 

.terms {
    display: flex;
    justify-content: center;
    gap: 5px;
}

